.commonTemp {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    .searchBtn {
        margin: 10px 10px 0 10px;
        background-color: #fff;
        box-shadow: 5px 5px 5px #bfbdbd;
        .btnBox {
            padding: 10px 20px;
        }
    }
    .searchForm {
        margin: 10px 10px 0 10px;
        background-color: #fff;
        box-shadow: 5px 5px 5px #bfbdbd;
        /deep/ .el-form {
            padding: 10px 20px;
            .el-form-item {
                margin-bottom: 5px;
            }
        }
    }
    .content {
        flex: 1;
        margin: 10px 10px 0 10px;
        padding: 10px 20px;
        background-color: #fff;
        box-shadow: 5px 5px 5px #bfbdbd;
    }
    .footer {
        margin: 0px 10px 10px 10px;
        padding: 10px 20px;
        background-color: #fff;
        box-shadow: 5px 5px 5px #bfbdbd;
        /deep/.el-pagination {
            text-align: right;
        }
    }
    .detailForm {
        /deep/ .el-form-item {
            display: flex;
            .el-form-item__content {
                flex: 1;
                .el-select--medium {
                    width: 100%;
                }
            }
        }
        .avatar-uploader {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            // background: url("../assets/img/defaultHead.jpg") no-repeat;
            background-size: 100% 100%;
        }
        .avatar-uploader-icon {
            font-size: 0;
            color: #fff;
            width: 120px;
            height: 120px;
            line-height: 120px;
            text-align: center;
        }
        .avatar-uploader-icon:hover {
            font-size: 28px;
            background-color: rgba(0, 0, 0, 0.3);
        }
        .avatar {
            position: relative;
            width: 120px;
            height: 120px;
            display: block;
        }
        .el-upload-action {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            font-size: 0;
            color: #fff;
            text-align: center;
            line-height: 120px;
        }
        .el-upload-action:hover {
            font-size: 20px;
            background-color: #000;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
}
